[user]
	name = Ben Davenport-Ray
	email = ben.davenportray@azaleahealth.com
[mergetool]
	vimdiff = true
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = vimdiff
[alias]
	unmerged = !git ls-files --unmerged | cut -f2 | uniq
