[user]
	name = Ben Davenport-Ray
	email = ben.davenportray@gmail.com

[mergetool]
	vimdiff = true

[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"

[merge]
	tool = vimdiff

[alias]
	unmerged = !git ls-files --unmerged | cut -f2 | uniq
	pick-branch = !git-pick-branch
[core]
	excludesFile = ~/.gitignore
