[user]
	name = Ben Davenport-Ray
	email = ben.davenport-ray@meraki.net

[mergetool]
	vimdiff = true

[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"

[merge]
	tool = vimdiff

[alias]
	unmerged = !git ls-files --unmerged | cut -f2 | uniq
	pick-branch = !git-pick-branch
	force-pull = !git-force-pull
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[core]
	excludesFile = ~/.gitignore
