[submodule "kak/.config/kak/plugins/plug.kak"]
	path = kak/.config/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak
[submodule "alacritty/.config/alacritty/catppuccin"]
	path = term/.config/alacritty/catppuccin
	url = http://github.com/catppuccin/alacritty
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = term/.config/tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "emacs/.emacs.d/modules.d/dnd-mode"]
	path = emacs/.emacs.d/modules.d/dnd-mode
	url = https://github.com/WMaxZimmerman/dnd-mode.git
