**/*.sw?
**/*.o
**/*.errors
**/*xmonad-x*
**/*.hi
xmonad/xmonad
procmailrc

# Editor bullhonkey.

## Vim

**/.*.kak.*
\#*\#
*~

editor/.vim/bundle/*
editor/.vim/.netrwhist
editor/.config/kak/autoload/autoload
editor/.emacs.d/.#init.el
editor/.emacs.d/bookmarks
editor/.config/kak/autoload/autoload
editor/.config/kak/plugins/*
!editor/.config/kak/plugins/plug.kak/

**/tags
**/.kak_find_cache

weechat/.weechat/logs/*
weechat/.weechat/*.log
*/var/sv/*/supervise
*/var/sv/*/log
