[submodule "kak/.config/kak/plugins/plug.kak"]
	path = kak/.config/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak
[submodule "todotxt/.todo/actions.d/due"]
	path = todotxt/.todo/actions.d/due
	url = https://github.com/rebeccamorgan/due.git
[submodule "alacritty/.config/alacritty/catppuccin"]
	path = alacritty/.config/alacritty/catppuccin
	url = http://github.com/catppuccin/alacritty
