[submodule "vim/branch/taglist"]
	path = vim/branch/taglist
	url = https://github.com/thisivan/vim-taglist.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/laserdude11/nerdtree.git
[submodule "vim/bundle/singlecompile"]
	path = vim/bundle/singlecompile
	url = https://github.com/xuhdev/SingleCompile.git
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vim/bundle/makegreen"]
	path = vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "vim/bundle/pytest"]
	path = vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vim/bundle/nose"]
	path = vim/bundle/nose
	url = https://github.com/lambdalisue/nose.vim.git
[submodule "vim/bundle/ctrl-p"]
	path = vim/bundle/ctrl-p
	url = http://github.com/kien/ctrlp.vim
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/todotxt"]
	path = bundle/todotxt
	url = https://github.com/davidoc/todo.txt-vim.git
[submodule "vim/bundle/vim-argumentative"]
	path = vim/bundle/vim-argumentative
	url = http://github.com/PeterRincker/vim-argumentative
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/jellybeans"]
	path = vim/bundle/jellybeans
	url = http://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = http://github.com/tomasr/molokai.git
