**/*.sw?
**/*.o
**/*.errors
**/*xmonad-x*
**/*.hi
xmonad/xmonad
procmailrc
vim/.vim/bundle/*
vim/.vim/.netrwhist
**/tags
**/.kak_find_cache
kak/.config/kak/autoload/autoload
weechat/.weechat/logs/*
weechat/.weechat/*.log
**/.*.kak.*
*/var/sv/*/supervise
*/var/sv/*/log
