**/*.sw?
**/*.o
**/*.errors
**/*xmonad-x*
**/*.hi
xmonad/xmonad
procmailrc
vim/.vim/bundle/*
vim/.vim/.netrwhist
**/tags
**/.kak_find_cache
kak/.config/kak/autoload/autoload
kak/.config/kak/plugins/*
!kak/.config/kak/plugins/plug.kak/
weechat/.weechat/logs/*
weechat/.weechat/*.log
**/.*.kak.*
*/var/sv/*/supervise
*/var/sv/*/log
\#*\#
*~

/emacs/.emacs.d/.#init.el
/emacs/.emacs.d/bookmarks
