snippet doc "Create a documentation block." 
/** $1
 *
 * $0
 *
 * @param $2
 * @return $3
 */
endsnippet

snippet fun "function" b
function $1 (${2:\$args}){
	${3: echo "$1 not implemented yet.";}
}
endsnippet

snippet vd "var_dump" b
var_dump($1);
endsnippet

snippet ec "Echo a string" b
echo "$1\n";
endsnippet

snippet bk "Set a breakpoint" b
xdebug_break();
endsnippet
